@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* プロジェクト独自のテーマ変数（カラー、フォントなど）をここに定義します */
  --color-brand-primary: #0fa9e6;
}

@layer base {
  /* サイト全体に適用するベーススタイルをここに定義します */
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
  }
}
