---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getLinkUrl } from "@/util/contents";
import { getAllTags } from "@/util/tags";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const allPosts = await getCollection("post");

  const uniqueTags = [...new Set(allPosts.flatMap((p) => p.data.tags))];
  return uniqueTags.map((tag) => {
    const lowerCase = tag?.toLocaleLowerCase();
    return { params: { tags: lowerCase } };
  });
};

const tags = getAllTags(await getCollection("post"));
---

<BaseLayout pageTitle="タグ一覧">
  <ul class="m-auto list-none flex flex-wrap gap-5 justify-center p-8">
    {
      tags.map((tag) => (
        <li class="inline-flex">
          <a
            href={getLinkUrl(`tags/${tag.url}`)}
            class="chip"
          >
            {tag.display}({tag.count})
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
