---
import { getCollectionEntryPost } from "@/util/contents";
import { splitCategoryAndSlugFromPostId } from "@/util/url";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ArticleCard from "../component/ArticleCard.astro";
import PaginationLink from "../component/PaginationLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const sortedPosts = (await getCollectionEntryPost()).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
  );

  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const pageTitle =
  page.currentPage === 1
    ? "イイモノ"
    : `イイモノ - ${page.currentPage}ページ目 -`;
---

<BaseLayout pageTitle={pageTitle} layoutType="list">
  <ul class="flex flex-col gap-6 max-w-2xl mx-auto py-8">
    {
      page.data.map((post) => (
        <li>
          <ArticleCard post={post} />
        </li>
      ))
    }
  </ul>
  <PaginationLink page={page} />
</BaseLayout>
