---
import { splitCategoryAndSlug } from "@/util/url";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import ArticleCard from "../component/ArticleCard.astro";
import PaginationLink from "../component/PaginationLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const sortedPosts = (await getCollection("post")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
  );

  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const pageTitle = "トップページ";
const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="flex flex-col gap-6 max-w-2xl mx-auto">
    {page.data.map((post) => {
      const { category } = splitCategoryAndSlug(post.id);
      return (
        <li>
          <ArticleCard post={post} category={category} />
        </li>
      );
    })}
  </ul>
  <PaginationLink page={page} />
</BaseLayout>
