---
import { render } from "astro:content";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("post");
  return allPosts.map((post) => {
    // frontmatterのslugフィールドを優先的に使用、なければpost.slugを使用
    console.log(`id=${post.id} / slug:${post.data.slug}`);
    if (!post.data.slug) {
      console.log("slugが指定されていません");
    }
    return {
      params: { slug: post.data.slug || post.id }, // URLになる
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout pageTitle={post.data.title}>
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>
