---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

// 1. 全記事を取得
const allPosts = await getCollection("post");

// 2. 日付順にソート（新しい順）
const sortedPosts = allPosts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
console.dir(sortedPosts);

// 3. 最新10件を切り出す
const latestPosts = sortedPosts.slice(0, 10);
console.dir(latestPosts);

const pageTitle = "トップページ";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <ul>
    {
      latestPosts.map((p) => (
        <li>
          <a href={p.data.slug || p.id}>{p.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
