---
import { getCoverImage } from "@/constants/coverImage";
import { getLinkUrl, type CollectionEntryPost } from "@/util/contents";
import { Image } from "astro:assets";
import { cn } from "../util/cn";
import ArticleSummary from "./ArticleSummary.astro";

interface Props {
  post: CollectionEntryPost;
}

const { post } = Astro.props;

const imagePath = getCoverImage(post.category);
---

<article class="card">
  <div class="aspect-video w-full overflow-hidden">
    <Image src={imagePath} alt={`${post.category} image`} />
  </div>

  <h2 class="text-xl font-bold leading-tight px-4 py-4">
    <a
      href={getLinkUrl(post.data.slug ?? post.id)}
      class="after:absolute after:inset-0">{post.data.title}</a
    >
  </h2>
  <ArticleSummary post={post} style={"px-4"}/>
  <footer class="flex px-4 pb-4">
    <time
      datetime={post.data.date.toLocaleDateString("ja-JP")}
      class="text-sm text-gray-500 ml-auto"
    >{post.data.date.toLocaleDateString("ja-JP")}</time
    >
  </footer>
</article>
