---
import { AUTHOR } from "@/constants/site";
import { getLinkUrl } from "@/util/contents";
import { getCollection } from "astro:content";

const solids = await getCollection("forsite");
---

<footer class="bg-emerald-950 text-cyan-50 flex flex-col gap-8 p-8">
  <ul class="list-none flex gap-5 justify-center">
    <li class="flex"><a href="/">HOME</a></li>
    {
      solids.map((post) => (
        <li class="flex">
          <a href={getLinkUrl(`forsite/${post.id}`)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <p class="flex text-center justify-center">
    Copyright© {AUTHOR} 2013-{new Date().getFullYear()} All Rights Reserved.
  </p>
</footer>
