---
import { getLinkUrl } from "@/util/contents";
import { getCollection } from "astro:content";

const solids = await getCollection("forsite");
---

<footer class="bg-emerald-950 text-cyan-50">
  <ul class="list-none flex gap-5 justify-center p-4">
    {
      solids.map((post) => (
        <li class="flex">
          <a href={getLinkUrl(`forsite/${post.id}`)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <div>
    <p>タグクラウド</p>
  </div>
</footer>
