---
import { getCollectionEntryPost, getLinkUrl } from "@/util/contents";
import { getAllTags } from "@/util/tags";
import { getCollection } from "astro:content";

const solids = await getCollection("forsite");
const allPosts = await getCollectionEntryPost();
const tags = getAllTags(allPosts);
---

<footer class="bg-emerald-950 text-cyan-50">
  <p class="flex p-8 text-center justify-center">
    Copyright© gen0083 2013-{new Date().getFullYear()} All Rights Reserved.
  </p>
  <ul class="list-none flex gap-5 justify-center p-4">
    <li class="flex"><a href="/">HOME</a></li>
    {
      solids.map((post) => (
        <li class="flex">
          <a href={getLinkUrl(`forsite/${post.id}`)}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
  <ul
    class="max-w-8/12 m-auto list-none flex flex-wrap gap-5 justify-center p-8"
  >
    {
      tags.map((tag) => (
        <li class="inline-flex">
          <a
            href={getLinkUrl(`tags/${tag.url}`)}
            class="px-3 py-1 bg-emerald-800 hover:bg-emerald-700 rounded-full text-sm transition-colors"
          >
            {tag.display}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
