---
import { getLinkUrl } from "@/util/contents";
import { cn } from "../util/cn";

interface Props {
  label: string;
  url: string | undefined;
}

const { label, url } = Astro.props;
---

{
  url ? (
    <a
      href={getLinkUrl(url)}
      class="flex items-center px-2 py-1 bg-emerald-400 rounded-sm hover:bg-rose-400 hover:text-mauve-200"
    >
      {label}
    </a>
  ) : (
    <span
      class="flex items-center px-2 py-1 bg-gray-300 text-gray-500 rounded-t-xs"
    >
      {label}
    </span>
  )
}
