---
import type { Page } from "astro";
import { makePaginationLink } from "../util/pagination_helper";
import LinkButton from "./LinkButton.astro";

interface Props {
  page: Page<any>;
  num?: number;
}

const { page, num } = Astro.props;
const pagination = makePaginationLink({ page, num });
---

<ul class="flex list-none justify-center gap-2 pb-8">
  {
    pagination.map((page) => (
      <li class="flex">
        <LinkButton {...page} />
      </li>
    ))
  }
</ul>
