---
import {type CollectionEntryPost, getPostUrl} from "@/util/contents.ts";
import StarRating from "@/components/StarRating.astro";
interface Props {
  related: CollectionEntryPost[];
}
const {related} = Astro.props;
const hasNoRelatedPost = related.length == 0;
---
<footer>
  <h2>関連記事</h2>
  {
    hasNoRelatedPost ?
      (<p>関連記事はありません</p>) :
      (
        <ul class="flex flex-col gap-4 m-0! p-0">
          {
            related.map((p) => (
              <li class="list-none m-0!">
                <div class="flex flex-row items-center justify-between">
                  <div class="flex flex-col">
                    <a href={getPostUrl(p)}>
                      <span class="text-lg block">{p.data.product?.name || "none"}</span>
                      <span class="text-sm block">{p.data.title}</span>
                    </a>
                  </div>
                  <div>
                    {typeof p.data.product?.rate == "number" &&
                      <StarRating rate={p.data.product.rate}/>
                    }
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      )
  }
</footer>
