---
import type { CollectionEntry } from "astro:content";
import { cn } from "../util/cn";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
---
<article
  class={cn(
    "flex flex-col gap-6",
    "bg-white border border-gray-200 rounded-xl overflow-hidden",
    "shadow-sm hover:shadow-md transition-shadow duration-300",
    "group",
    "hover:shadow-lg",
  )}
>
  <h2><a href={post.data.slug || post.id}>{post.data.title}</a></h2>
  <footer>
    <span>{post.data.date}</span>
  </footer>
</article>
