---
import type { Page } from "astro";

interface Props {
  page: Page<any>;
  fromCurrent?: number;
}

const { page, fromCurrent = 3 } = Astro.props;
const isFirst = page.currentPage == 1;
const isLast = page.currentPage == page.lastPage;
const from = Math.max(1, page.currentPage - fromCurrent);
const to = Math.min(page.lastPage, page.currentPage + fromCurrent);
const pages = Array.from({ length: to - from + 1 }, (_, i) => from + i);
const goToFirstPage = from != 1;
const goToLastPage = to != page.lastPage;
---

<ul class="navigation">
  {
    goToFirstPage && (
      <li class:list={["first", { active: page.currentPage === 1 }]}>
        <a href="/">最初</a>
      </li>
    )
  }
  {
    pages.map((i) => {
      const isActive = page.currentPage == i;
      return (
        <li class:list={["pages", { active: isActive }]}>
          {page.currentPage == i ? <span>{i}</span> : <a href={i.toString()}>{i}</a>}
        </li>
      );
    })
  }
  {
    goToLastPage && (
      <li class:list={["last", { active: page.currentPage == page.lastPage }]}>
        <a href={page.url.last}>最後</a>
      </li>
    )
  }
</ul>

<style>
  .navigation {
    display: block;
  }
  .navigation > li {
    display: inline-block;
    list-style: none;
    margin: 0.5rem 1rem;
    background-color: blanchedalmond;
  }
  .navigation > li > a, .navigation > li > span {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .navigation > li.active {
    background-color: grey;
  }
</style>
