---
import GlobalFooter from "@/components/GlobalFooter.astro";
import "../styles/global.css";
interface Props {
  pageTitle?: string;
  layoutType?: "default" | "post" | "list";
}
const { pageTitle = "イイモノ", layoutType = "default" } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}{layoutType === "post" ? " - イイモノ -" : ""}</title>
  </head>
  <body class="min-h-dvh flex flex-col">
    <header class="w-full max-w-3xl mx-auto px-6 py-8">
      {
        layoutType === "list" ? (
          <h1 class="text-2xl font-bold tracking-tight">
            <a href="/" class="text-slate-900 no-underline">
              イイモノ
            </a>
          </h1>
        ) : (
          <div class="text-2xl font-bold tracking-tight">
            <a href="/" class="text-slate-900 no-underline">
              イイモノ
            </a>
          </div>
        )
      }
    </header>
    <main class="flex-1 w-full max-w-3xl mx-auto gap-8">
      <slot />
    </main>
    <GlobalFooter />
  </body>
</html>
